.single_nft-img {
    border-radius: 8px;
}

.single_nft-seen span {
    color: #fff;

}

.single_nft-seen span i,
.single_nft-more span i {

    font-size: 0.8rem;
    color: #fff;
    padding: 5px;
    background: #000;
    border-radius: 50px;
    cursor: pointer;
}

.single_nft-more span i {
    background: #343444;

}

.nft_creator {
    background: #343444;
    padding: 20px;
    border-radius: 7px;
    width: 50%;
}

.creator_img {
    width: 40px;
    height: 40px;
}

.creator_detail p {
    font-size: .7rem;
    font-weight: 300;
    margin-bottom: 0;
    margin-top: 0;
}

.creator_detail h6 {
    color: #fff;
    margin-bottom: 0;
    font-size: 0.9rem;
    font-weight: 500;
}

.singleNft-btn {
    padding: 8px 25px;
    background: #5142fc;
    border: none;
    outline: none;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s;


}

.singleNft-btn a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
}

.singleNft-btn:hover {
    background: #fff;
}

.singleNft-btn:hover a {
    color: #5142fc;
}

.singleNft-btn i {
    color: #fff;
}

.singleNft-btn:hover i {
    color: #5142fc;
}

@media only screen and (max-width:992px) {
    .single_nft_content {
        font-size: 1.3rem;

    }

    .single_nft_content p {
        font-size: 0.8rem;
        line-height: 28px;
    }

    .nft_creator {
        width: 100%;
    }

    .singleNft-btn a {
        font-size: 0.7rem;
    }

    .single_nft-seen {
        font-size: 0.8rem;
    }

}

@media only screen and (max-width:576px) {
    .single_nft_content h2 {
        margin-top: 15px;
    }

}