.seller_section-title {
    color: #fff;
}

.seller_img img {
    width: 80px;
    height: 80px;
    border-radius: 50px;
}

.seller_content h6 {
    font-size: 1rem;
    color: #fff;
}

@media only screen and (max-width:992px) {
    .seller_content h6 {
        font-size: 0.8rem !important;
    }
}